POSTGRES_USER=etrat
POSTGRES_PASSWORD=change-me-strong
POSTGRES_DB=etrat
POSTGRES_IMAGE=postgres:16-alpine
# If Docker Hub is blocked on the VPS:
# POSTGRES_IMAGE=docker.arvancloud.ir/library/postgres:16-alpine

FRONTEND_IMAGE=ghcr.io/hosseinshisfahani/university-frontend:latest
BACKEND_IMAGE=ghcr.io/hosseinshisfahani/university-backend:latest
